---
layout: default
section_id: home
slides:
  - bg: images/cash.jpg

services:
  - icon_class: fa fa-fighter-jet
    title: Fast
    desc: Up and running in under 5 minutes
  - icon_class: fa fa-thumbs-up
    title: Easy
    desc: Clean, low-impact integration
  - icon_class: fa fa-wrench
    title: Simple
    desc: Not much to it, really
  - icon_class: fa fa-plug
    title: Versatile
    desc: Integrates directly with DI

bars:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 65

testimonials:
  - text: Code goes here
    author: Autofac
    position: 
    avatar: images/autofac.png
  - text: Code goes here
    author: Ninject
    position: 
    avatar: images/ninject.jpg
    
other_services:
  - icon_class: fa fa-tag
    title: < version 1.0?
    desc: 
      This solution (in a previous form) has been in production for almost a year now, but I re-wrote it from the ground up for this open-sourcing.  
      <br /><br /> Since this exact code hasn't been through all of it's paces in all of the places, I wanted reflect that and the version seemed to be the best way of doing that.
  - icon_class: fa fa-shield
    title: netcore
    desc:
      Netcore support is high on the list.  The one core dependency of the project is Castle.Core, but unfortunately there isn't a version of that library that is compatible.  
      <br /> <br /> I need to determine if there is another library that will work, or if I need to roll my own.
  - icon_class: fa fa-github
    title: Github
    desc:
      Everything is hosted up on Github. Feel free to fork and go!
      <br /><br />  Got issues?  Feel free to use Github for that too!

clients:
  - images/@stock/client-grey-1.png
  - images/@stock/client-grey-2.png
  - images/@stock/client-grey-3.png
  - images/@stock/client-grey-4.png
  - images/@stock/client-grey-5.png
  - images/@stock/client-grey-6.png
---

<a href="https://github.com/asmorger/cash" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a>

<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" style='margin-left: auto; margin-right: auto;' />
              <div class='caption'>
                {% if slide.title %}
                <p>{{slide.title}}</p>
                {% endif %}

                {% if slide.title %}
                <h2>{{slide.tagline}}</h2>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p style='font-size: 1.5rem; font-style: italic; text-align: center;'>
        An elegant solution to an old problem: caching.
      </p>
    </div>
  </div>
</div>

<div class='full no-padding' style='background: #f5f5f5'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
    <h3>Nuget</h3>
      <div class='medium-6 large-6 columns'>
{% highlight PowerShell %}
Install-Package Cash.Autofac
{% endhighlight%}
      </div>
      <div class='medium-6 large-6 columns'>
{% highlight PowerShell %}
Install-Package Cash.Ninject
{% endhighlight%}
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<div class='full no-padding'>
    <div class='row'>
      <div class='large-12 columns'>
          <div style='text-align: center;'>
              <ul class='inline-list'>
                  <li>
                      <img src="https://img.shields.io/nuget/dt/Cash.Core.svg?style=flat-square" alt="Nuget" />
                  </li>
                  <li>
                      <img src="https://img.shields.io/nuget/v/Cash.Core.svg?style=flat-square" alt="Nuget" />
                  </li>
                  <li>
                      <img src="https://img.shields.io/appveyor/ci/asmorger/cash.svg?style=flat-square" alt="Build status" />
                  </li>
                  <li>
                      <img src="https://img.shields.io/coveralls/asmorger/cash/master.svg?style=flat-square" alt="Unit test coverage" />
                  </li>
                  <li>
                      <img src="https://img.shields.io/github/license/asmorger/cash.svg?style=flat-square" alt="License info" />
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

{% if page.works %}
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our recent work
      /
      <a href='portfolio.html'>View more</a>
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='mod modGallery'>
    <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
      {% for work in page.works %}
        <li class='{{work.class}}'>
          <a href='portfolio-item.html'>
            <img alt="" src="{{work.image}}" />
            <div class='overlay' style='background: rgba(143, 221, 115, 0.8);'>
              <div class='thumb-info'>
                <h3>{{work.title}}</h3>
                <p>{{work.desc}}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='two spacing'></div>
<hr>
{% endif %}

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Integration</h3>
      <div class='spacing'></div>
{% highlight csharp %}
public class UserService
{
  [Cache]
  public User GetUserById(int id)
  {
    // your logic goes here
  }
  
  [Cash]
  public IEnumerable<UserRole> GetByUser(User user)
  {
    // your logic goes here 
  }
}
{% endhighlight %}
    </div>
    <div class='medium-6 columns'>
      <h3>Key Registration</h3>
      <div class='spacing'></div>
{% highlight csharp %}
var keyRegistration = new CacheKeyRegistrationService();

registrationService
    .AddTypedCacheKeyProvider<UserModel>(x => $"{x.Id}");
        
return keyRegistration;
{% endhighlight %}
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>DI Integration</h3>
      <div class='spacing'></div>
{% highlight csharp %}
var bulder = new ContainerBuilder();
var keyRegistration = new CacheKeyRegistrationService();

Cash.RegisterCacheInfrastructure(builder, MemoryCache.Default, keyRegistration);

builder.RegisterType<UserService>().As<IUserService>().InstancePerHttpRequest().WithDefaultCache();
{% endhighlight %}
    </div>
  </div>
</div>

<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Features</h3>
    <div class='two spacing'></div>
  </div>
</div>
<div class='row'>
  {% for service in page.services %}
    <div class='medium-3 large-3 columns'>
      <div class='fadein mod modIconText' data-delay='{{ 200 | times:forloop.index0 }}'>
        <div class='icon-text-circle'>
          <i class='{{service.icon_class}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>

<hr>
<div class='full no-padding'>
    <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for service in page.other_services %}
            <div class='box' style='background: #f9f9f9;'>
              <i class='{{service.icon_class}}'></i>
              <h4>{{service.title}}</h4>
              <p>{{service.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>