<a href="" id="top"></a>
<a href="https://github.com/asmorger/cash" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a>
<div class='contain-to-grid shadowless sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href="{{site.url}}">
            <img alt="" src="{{ "/images/sitelogo.png" | prepend: site.baseurl }}" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.children %}
            <li class="has-dropdown {{active_class}}">
              <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{active_class}}">
              <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>